<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="StringValue" value="abc"></add>

    <add key="DoubleValue" value="1.1"></add>
    <add key="EmptyIntValue" value=""></add>

    <add key="EnumString" value="Started"></add>
    <add key="EnumNumeric" value="2"></add>

    <!-- The value uses comman instead of period. -->
    <add key="DoubleWithFinnishLocale" value="1,1"/>
  </appSettings>

  <connectionStrings>
    <add name="MyDatabase" connectionString="Data Source=localhost;Initial Catalog=MyDb;User Id=username;Password=password;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
