<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- 
    Values here are stored using InvariantCulture formatting.
    E.g. even though your specific culture might format double using comma
    it should be written here using point
    value="1.1" is correct
    value="1,1" is wrong
    -->
        
  </appSettings>

  <connectionStrings>
  </connectionStrings>
</configuration>