<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- 
    Values here are stored using InvariantCulture formatting.
    E.g. even though your specific culture might format double using comma
    it should be written here using point
    value="1.1" is correct
    value="1,1" is wrong
    -->
        
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="MyDatabase1" connectionString="Data Source=localhost;Initial Catalog=MyDb;User Id=username;Password=password;"/>
    <add name="MyDatabase2" connectionString="Data Source=localhost;Initial Catalog=MyDb;User Id=username;Password=password;"/>
    <add name="MyDatabase3" connectionString="Data Source=localhost;Initial Catalog=MyDb;User Id=username;Password=password;"/>
  </connectionStrings>
</configuration>