<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="NonEmptyStringValue" value="abc"></add>
    <add key="EmptyStringValue" value=""></add>
    <add key="NullStringValue"></add>

    <add key="IntValue" value="1"></add>
    
    <!-- This is read using int? as generic type -->
    <add key="EmptyIntValue" value=""></add>
    
    <add key="DoubleValue" value="1.1"></add>
    
    <add key="DecimalValue" value="1.1"></add>
    
  </appSettings>
</configuration>