<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- 
    Values here are stored using InvariantCulture formatting.
    E.g. even though your specific culture might format double using comma
    it should be written here using point
    value="1.1" is correct
    value="1,1" is wrong
    -->
    
    <add key="NonEmptyStringValue" value="abc"></add>
    <add key="EmptyStringValue" value=""></add>
    <add key="NullStringValue"></add>

    <add key="IntValue" value="1"></add>
    
    <!-- This is read using int? as generic type -->
    <add key="EmptyIntValue" value=""></add>
    
    <add key="DoubleValue" value="1.1"></add>
    
    <add key="DecimalValue" value="1.1"></add>
    
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="MyDatabase" connectionString="Data Source=localhost;Initial Catalog=MyDb;User Id=username;Password=password;"/>
  </connectionStrings>
</configuration>